footer {
  position: absolute;

  top: 100%;
  left: 0;

  width: 100%;
  padding: 30px 0;

  background: $black;
  color: $gray;

  hr {
    padding: 0;
    margin: 30px 0;

    border-color: rgba($white, 0.15);
  }

  p.copyright {
    font-size: 14px;
  }
}