footer {
  position: absolute;

  top: 100%;
  left: 0;

  width: 100%;
  padding: 72px 0 36px;

  background: $gray-900;
  color: $gray-300;

  h5 {
    color: $gray-600;
  }

  hr {
    margin: 256px 0 20px;
    border-color: $gray-800;
  }

  ul.nav {
    li.nav-item {
      a.nav-link {
        color: $gray-300;

        &.active {
          color: $white;
        }

        &:hover {
          color: $white;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  footer {
    padding: 56px 0 36px;

    hr {
      margin: 156px 0 32px;
    }
  }
}