$primary: #176DE5;

$gray-50: #E9E9E9;
$gray-100: #DCDCDC;
$gray-200: #C3C3C3;
$gray-300: #A9A9A9;
$gray-400: #909090;
$gray-500: #767676;
$gray-600: #5D5D5D;
$gray-700: #434343;
$gray-800: #292929;
$gray-900: #101010;
$gray-950: #020202;

$black: #000000;
$white: #FFFFFF;
$success: #198754;
$warning: #FFC107;
$error: #DC3545;