header {
  padding: 30px 0;

  ul.nav {
    li.nav-item {
      a.nav-link {
        padding: 10px 20px;

        font-size: 14px;
        color: $darkgray;

        transition: 0.1s ease;

        &.active {
          color: $blue;
          font-weight: 500;
        }

        &:hover {
          color: $blueHover;
        }
      }
    }
  }
}

.burgermenu-toggler {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  border: 0;
  outline: 0;
  background: none;

  .line {
    display: block;

    width: 36px;
    height: 3px;

    border-radius: 5px;
    background: $blue;

    margin: 3px 0;

    transition: 0.3s ease;

    &:nth-child(2) {
      width: 30px;
    }

    &:nth-child(3) {
      width: 24px;
    }
  }

  &.active {
    .line {
      width: 36px;
    }
  }

}

.burgermenu-overlay {
  display: none;

  position: fixed;
  z-index: 2;

  top: 0;
  right: 0;

  height: 100vh;
  width: 100%;

  background: rgba($black, 0.65);

  &.active {
    display: block;
    animation: fadeIn 0.3s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.burgermenu {
  position: fixed;
  z-index: 3;

  top: 0;
  right: -300px;

  height: 100vh;
  width: 300px;

  background: $white;

  background: #FFFFFF;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  transition: 0.5s ease;

  &.active {
    right: 0;
  }

  .burgermenu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 30px;
    height: 100%;

    .burgermenu-close {
      display: flex;
      justify-content: flex-end;

      margin-bottom: 20px;

      .close-icon {
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 30px;
        height: 30px;

        background: rgba($darkgray, 0.15);
        border-radius: 5px;
      }
    }

    ul.nav {
      flex-direction: column;

      li.nav-item {
        a.nav-link {
          padding: 10px 0;

          font-size: 14px;
          color: $darkgray;

          transition: 0.1s ease;

          &.active {
            color: $blue;
            font-weight: 500;
          }

          &:hover {
            color: $blueHover;
          }
        }
      }
    }

    p.copyright {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    padding: 20px 0;
  }
}