.benefit-block {
  display: flex;
  align-items: center;

  background: #FFFFFF;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  padding: 40px 40px;

  transition: 0.2s ease;

  &:hover {
    transform: scale(1.025) translateY(-5px);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.125);
  }

  .block-icon {
    flex-shrink: 0;

    img {
      width: 48px;
      height: 48px;
    }
  }

  .block-content {
    margin-left: 30px;

    h5 {
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
    }
  }
}

section.product-benefits {
  .benefit-block {
    p {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .benefit-block {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    padding: 30px;

    .block-content {
      margin-left: 0;
    }

    &:hover {
      transform: none;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    }
  }
}