.block.block-benefit {
  display: flex;
  align-items: center;
  gap: 16px;

  padding: 14px 36px 14px 24px;
  background: rgba($primary, 0.1);
  border-radius: 8px;

  svg {
    width: 42px;
    height: 42px;

    fill: $primary;
  }

  font-size: 16px;
  font-weight: 500;
  color: $gray-950;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .block.block-benefit {
    padding: 12px 30px 12px 20px;

    svg {
      width: 36px;
      height: 36px;
    }

    font-size: 14px;
  }
}