.block.block-security {
  display: flex;
  align-items: center;
  gap: 36px;

  padding: 36px 56px;

  background: $white;
  border: 1px solid $gray-50;
  border-radius: 12px;

  transition: 0.1s ease;

  .block-image {
    svg {
      width: 56px;
      height: 56px;

      fill: $primary;
    }
  }

  .block-content {
    p {
      margin-top: 8px;
      max-width: 540px;
    }
  }
}

@media screen and (max-width: 767px) {
  .block.block-security {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    padding: 24px 36px;

    .block-image {
      svg {
        width: 48px;
        height: 48px;
      }
    }
  }
}