.block.block-spec {
  font-size: 16px;
  color: $primary;
  font-weight: 500;

  padding: 8px 16px;

  border-radius: 8px;
  background: rgba($primary, 0.1);
}

@media screen and (max-width: 767px) {
  .block.block-spec {
    font-size: 14px;
    padding: 8px 16px;
  }
}