.swiper.homepage-slider {
  .swiper-slide {
    position: relative;

    width: 100%;
    height: 600px;
  }
}

@media screen and (max-width: 767px) {
  .swiper.homepage-slider {
    .swiper-slide {
      height: 250px;
    }
  }
}