section.client-information {
  padding-bottom: 100px;

  p {
    max-width: 640px;
  }

  .left-column {
    padding: 20px 70px 20px 0;
  }

  .right-column {
    padding: 20px 0 20px 70px;

    .client-information-image {
      position: relative;
      overflow: hidden;

      width: 100%;
      height: 375px;

      border-radius: 15px;
    }
  }

  &.reverse {
    .left-column {
      order: 2;
      padding: 20px 0 20px 70px;
    }

    .right-column {
      order: 1;
      padding: 20px 70px 20px 0;
    }
  }
}

@media screen and (max-width: 767px) {
  section.client-information {
    padding-bottom: 70px;

    .left-column {
      padding: 0 calc(var(--bs-gutter-x) * .5);
    }

    .right-column {
      padding: 0 calc(var(--bs-gutter-x) * .5);

      .client-information-image {
        height: 250px;
      }
    }

    &.reverse {
      .left-column {
        order: 1;
        padding: 0 calc(var(--bs-gutter-x) * .5);
      }

      .right-column {
        order: 2;
        padding: 0 calc(var(--bs-gutter-x) * .5);
      }
    }
  }
}