section.error {
  height: calc(100vh - 110px);

  .container, .row {
    height: 100%;
  }

  .error-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    .block-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 96px;
      height: 96px;

      border-radius: 15px;
      background: rgba($blue, 0.15);

      img {
        height: 36px;
        width: 36px;
      }
    }
    .block-content {
      margin-top: 30px;
      text-align: center;

      .block-title {
        font-size: 18px;
        font-weight: 500;
        color: $black;
      }

      .block-description {
        margin-top: 10px;
      }

      .block-actions {
        margin-top: 30px;
      }
    }
  }
}