section.product {
  padding-bottom: 100px;

  .product-gallery {
    display: flex;
    flex-shrink: 0;

    .gallery-thumbnails {
      display: flex;
      flex-direction: column;

      .thumbnail-block {
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 120px;
        height: 150px;

        border: 1px solid $lightgray;
        border-radius: 15px;

        margin-bottom: 15px;

        transition: 0.1s ease;

        .block-image {
          position: relative;

          width: 80px;
          height: 110px;
        }

        &:hover {
          border-color: $blueHover;
        }

        &.active {
          border-color: $blue;

          &:hover {
            border-color: $blueHover;
          }
        }
      }
    }

    .gallery-image {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 320px;
      height: 500px;

      border: 1px solid $lightgray;
      border-radius: 15px;

      margin-left: 20px;

      .block-image {
        position: relative;

        width: 240px;
        height: 400px;
      }
    }
  }

  .product-content {
    display: flex;
    flex-direction: column;

    .product-title {
      font-size: 30px;
      color: $black;

      span {
        font-weight: 500;
      }

      margin-bottom: 10px;
    }

    .product-headline {
      padding: 10px 20px;

      font-size: 14px;
      font-weight: 500;
      color: $blue;

      background: rgba($blue, 0.15);
      border-radius: 15px;

    }

    .product-description {
      margin-top: 40px;
      max-width: 540px;
    }

    .product-variations {
      margin-top: 40px;

      .variations-title {
        font-size: 14px;
        font-weight: 500;
        color: $black;

        margin-bottom: 10px;
      }
    }

    .product-price-action {
      margin-top: 40px;
    }

    .product-price {
      .price-label {
        font-size: 14px;
        color: $gray;
      }

      .price-number {
        font-size: 24px;
        font-weight: 500;
        color: $black;
      }
    }

    .product-specifications {
      margin-top: 100px;
    }

    .product-benefits {
      margin-top: 100px;
    }
  }

  .product-order {
    .order-title {
      font-size: 24px;
      font-weight: 500;
      color: $black;

      margin-bottom: 30px;
    }

    .order-price {
      .price-label {
        font-size: 14px;
        color: $gray;
      }

      .price-number {
        font-size: 24px;
        font-weight: 500;
        color: $black;
      }
    }
  }
}

@media screen and (max-width: 1079px) {
  section.product {
    .product-gallery {
      .gallery-thumbnails {
        order: 2;
        margin-left: 15px;

        .thumbnail-block {
          width: 90px;
          height: 120px;

          margin-bottom: 0;

          .block-image {
            width: 70px;
            height: 90px;
          }
        }
      }

      .gallery-image {
        order: 1;

        width: 100%;
        height: 400px;

        margin-left: 0;

        .block-image {
          width: 240px;
          height: 300px;
        }
      }
    }

    .product-content {
      display: flex;
      flex-direction: row;
      margin-top: 30px;

      .product-title {
        font-size: 24px;
      }

      .product-information-block {
        display: flex;
        flex-direction: column;

        .product-description {
          order: 1;
        }

        .product-variations {
          order: 3;
        }

        .product-price-action {
          order: 2;
        }
      }

      .product-specifications {
        margin-top: 70px;
      }

      .product-benefits {
        margin-top: 70px;
      }
    }
  }
}

@media screen and (min-width: 1440px) and (max-width: 1679px) {
  section.product {
    .product-gallery {
      flex-direction: column;

      .gallery-image {
        margin-left: 0;
      }

      .gallery-thumbnails {
        order: 2;

        margin-left: 0;
        margin-top: 15px;

        .thumbnail-block {
          width: 90px;
          height: 120px;

          margin-bottom: 0;

          .block-image {
            width: 70px;
            height: 90px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1080px) and (max-width: 1439px) {
  section.product {
    .product-gallery {
      flex-direction: column;

      .gallery-image {
        margin-left: 0;
      }

      .gallery-thumbnails {
        order: 2;

        margin-left: 0;
        margin-top: 15px;

        .thumbnail-block {
          width: 90px;
          height: 120px;

          margin-bottom: 0;

          .block-image {
            width: 70px;
            height: 90px;
          }
        }
      }
    }
  }
}