section.product-benefits {
  padding-bottom: 100px;

  h3 {
    margin-bottom: 20px;
  }

  p {
    max-width: 720px;
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: 767px) {
  section.product-benefits {
    padding-bottom: 70px;
  }
}
