section.section.section-hero {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;

  min-height: calc(100vh - 80px); // - header height
  padding: 128px 0 256px;

  .section-image {
    pointer-events: none;

    position: absolute;
    z-index: -1;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    video,
    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: top center;

      opacity: 0.1;
    }
  }

  .arrow-down {
    position: absolute;

    left: calc(50% - 28px);
    bottom: 56px;

    animation: jumpInfinite 1.5s infinite;

    svg {
      width: 42px;
      height: 42px;

      fill: $gray-950;
    }
  }

  @keyframes jumpInfinite {
    0% {
      bottom: 56px;
    }
    50% {
      bottom: 72px;
    }
    100% {
      bottom: 56px;
    }
  }
}

@media screen and (max-width: 767px) {
  section.section.section-hero {
    padding: calc(60px + 36px) 0 156px;

    p.text-medium {
      font-size: 16px;
    }

    .block.block-rating {
      flex-direction: column;
      gap: 5px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
